#shop {
    width: 70vw;
    min-width: 600px;
    margin: auto;
}

#food, #Accesories {
    width: 100vw;
    border: 2px solid crimson;
    overflow: hidden;
    padding: 20px 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

#food p, #Accesories p {
    color: #E74C3C;
}

#food > div, #Accesories > div {
    background: #fff;
    padding: 10px;
}

#food img, #Accesories img {
    width: 250px;
    height: 250px;
}

#food {
    font-size: 20pt;
    color: white;
    background-color: #E74C3C;
    width: auto;
    /* margin-left: 20px; */
    /*position: fixed;*/
    /* margin-top: 30px; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* overflow: auto; */
}

#buttonBuy{
    position: absolute;
    right: 30px;
    font-family: Geneva;
    font-weight: bold;
    background-color: #33ECFF;
    border:0;
    font-size: 20px;
    color: white;
    display: block;
    border: 0;
    padding: 5px 10px;
}


#Accesories{
    background-color: #E74C3C;
    width: auto;
    /* right: 50px;
    margin-top: 30px; */
    font-size: 20pt;
    /* display: flex;
    justify-content: space-between; */
    /* margin-left: 20px; */
    /* overflow: auto; */
    color: white;
        
}

h2{
    color: rgb(11, 65, 243);
    padding:20px;
    font-size: 45px;
}
